<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.BuySetmealDao">

    <select id="get" resultType="BuySetmealDO">
        select *
        from app_buy_setmeal
        where id = #{value}
    </select>

    <select id="list" resultType="BuySetmealDO">
        select *, (select name from  app_diagnosis_card adc where adc.id=diagnosis_id) diagnosisName from app_buy_setmeal
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="diagnosisId != null and diagnosisId != ''">and diagnosis_id =
                #{diagnosisId}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="setmealId != null and setmealId != ''">and setmeal_id =
                #{setmealId}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>

            <if test="transactionId != null and transactionId != ''">and transaction_id =
                #{transactionId}
            </if>
            <if test="nonceStr != null and nonceStr != ''">and nonce_str =
                #{nonceStr}
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">and out_trade_no =
                #{outTradeNo}
            </if>

            <if test="payType != null and payType != ''">and pay_type =
                #{payType}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_buy_setmeal
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="setmealId != null and setmealId != ''">and setmeal_id =
                #{setmealId}
            </if>
            <if test="createDate != null and createDate != ''">and create_date =
                #{createDate}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="BuySetmealDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_buy_setmeal
        (`user_id`,
         `setmeal_id`,
         `create_date`,
         `status`,diagnosis_id,
         transaction_id,
         nonce_str,
         out_trade_no,
         pay_type)
        values (#{userId},
                #{setmealId},
                #{createDate},
                #{status},
                #{diagnosisId},
                #{transactionId},
                #{nonceStr},
                #{outTradeNo},
                #{payType})
    </insert>

    <update id="update" parameterType="BuySetmealDO">
        update app_buy_setmeal
        <set>
            <if test="userId != null">`user_id` = #{userId
                        },
            </if>
            <if test="setmealId != null">`setmeal_id` = #{setmealId
                        },
            </if>
            <if test="diagnosisId != null">`diagnosis_id` = #{diagnosisId
                        },
            </if>
            <if test="createDate != null">`create_date` = #{createDate
                        },
            </if>
            <if test="status != null">`status` = #{status
                        },
            </if>
            <if test="transactionId != null">`transaction_id` = #{transactionId
                        },
            </if>
            <if test="nonceStr != null">`nonce_str` = #{nonceStr
                        },
            </if>
            <if test="payType != null">`pay_type` = #{payType
                        },
            </if>
            <if test="outTradeNo != null">`out_trade_no` = #{outTradeNo
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_buy_setmeal
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_buy_setmeal where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="setmealList" resultType="com.bootdo.vo.SetmealDO">
        select asl.id,asl.name,asl.new_price,abs.create_date,abs.status,(select name from  app_diagnosis_card adc where adc.id=abs.diagnosis_id) diagnosisName
        from app_buy_setmeal abs inner join app_setmeal asl
                                            on abs.setmeal_id=asl.id
        where abs.user_id=#{userId}
    </select>
</mapper>