<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.CarApplyDao">

    <select id="get" resultType="CarApplyDO">
        select `id`,
               `user_id`,
               `dept_id`,
               `apply_name`,
               `phone`,
               `time`,
               `address`,
               `cause`
        from app_car_apply
        where id = #{value}
    </select>

    <select id="list" resultType="CarApplyDO">
        select `id`,`user_id`,`dept_id`,`apply_name`,`phone`,`time`,`address`,`cause` from app_car_apply
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="deptId != null and deptId != ''">and dept_id =
                #{deptId}
            </if>
            <if test="applyName != null and applyName != '' and applyName != '%%'">
                and apply_name like #{applyName}
            </if>
            <if test="phone != null and phone != ''">and phone =
                #{phone}
            </if>
            <if test="time != null and time != ''">and time =
                #{time}
            </if>
            <if test="address != null and address != ''">and address =
                #{address}
            </if>
            <if test="cause != null and cause != ''">and cause =
                #{cause}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_car_apply
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="deptId != null and deptId != ''">and dept_id =
                #{deptId}
            </if>
            <if test="applyName != null and applyName != '' and applyName != '%%'">
                and apply_name like #{applyName}
            </if>
            <if test="phone != null and phone != ''">and phone =
                #{phone}
            </if>
            <if test="time != null and time != ''">and time =
                #{time}
            </if>
            <if test="address != null and address != ''">and address =
                #{address}
            </if>
            <if test="cause != null and cause != ''">and cause =
                #{cause}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="CarApplyDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_car_apply
        (`user_id`,
         `dept_id`,
         `apply_name`,
         `phone`,
         `time`,
         `address`,
         `cause`)
        values (#{userId},
                #{deptId},
                #{applyName},
                #{phone},
                #{time},
                #{address},
                #{cause})
    </insert>

    <update id="update" parameterType="CarApplyDO">
        update app_car_apply
        <set>
            <if test="userId != null">`user_id` = #{userId
                        },
            </if>
            <if test="deptId != null">`dept_id` = #{deptId
                        },
            </if>
            <if test="applyName != null">`apply_name` = #{applyName
                        },
            </if>
            <if test="phone != null">`phone` = #{phone
                        },
            </if>
            <if test="time != null">`time` = #{time
                        },
            </if>
            <if test="address != null">`address` = #{address
                        },
            </if>
            <if test="cause != null">`cause` = #{cause
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_car_apply
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_car_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>