<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.HospitalizationAccompanyDao">

    <select id="get" resultType="HospitalizationAccompanyDO">
        select `id`, `name`, `sex`, `phone`, `hos_id`,days,age
        from app_hospitalization_accompany
        where id = #{value}
    </select>

    <select id="list" resultType="HospitalizationAccompanyDO">
        select `id`,`name`,`sex`,`phone`,`hos_id`,days ,age from app_hospitalization_accompany
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="name != null and name != '' and name != '%%'">
                and name like #{name}
            </if>
            <if test="sex != null and sex != ''">and sex =
                #{sex}
            </if>
            <if test="phone != null and phone != ''">and phone =
                #{phone}
            </if>
            <if test="hosId != null and hosId != ''">and hos_id =
                #{hosId}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_hospitalization_accompany
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="name != null and name != '' and name != '%%'">
                and name like #{name}
            </if>
            <if test="sex != null and sex != ''">and sex =
                #{sex}
            </if>
            <if test="phone != null and phone != ''">and phone =
                #{phone}
            </if>
            <if test="hosId != null and hosId != ''">and hos_id =
                #{hosId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="HospitalizationAccompanyDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into app_hospitalization_accompany (`name`, `sex`, `phone`, `hos_id`,days,age)
        values (#{name}, #{sex}, #{phone}, #{hosId},#{days},#{age})
    </insert>

    <update id="update" parameterType="HospitalizationAccompanyDO">
        update app_hospitalization_accompany
        <set>
            <if test="name != null">`name` = #{name
                        },
            </if>
            <if test="age != null">`age` = #{age
                        },
            </if>
                <if test="days != null">`days` = #{days
                        },
            </if>
            <if test="sex != null">`sex` = #{sex
                        },
            </if>
            <if test="phone != null">`phone` = #{phone
                        },
            </if>
            <if test="hosId != null">`hos_id` = #{hosId
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_hospitalization_accompany
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_hospitalization_accompany where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>