<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.QuestionDao">

    <select id="get" resultType="QuestionDO">
        select `id`, `q_desc`, `status`, up, down
        from app_question
        where id = #{value}
    </select>

    <select id="list" resultType="QuestionDO">
        select `id`,`q_desc`,`status`,up,down from app_question
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="qDesc != null and qDesc != ''">and q_desc =
                #{qDesc}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_question
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="qDesc != null and qDesc != ''">and q_desc =
                #{qDesc}
            </if>
            <if test="status != null and status != ''">and status =
                #{status}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="QuestionDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_question (`q_desc`, `status`, up, down)
        values (#{qDesc}, #{status}, #{up}, #{down})
    </insert>

    <update id="update" parameterType="QuestionDO">
        update app_question
        <set>
            <if test="qDesc != null">`q_desc` = #{qDesc
                        },
            </if>
            <if test="up != null">`up` = #{up
                        },
            </if>
            <if test="down != null">`down` = #{down
                        },
            </if>
            <if test="status != null">`status` = #{status
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_question
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_question where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>