<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.SetmealDetailsDao">

    <select id="get" resultType="SetmealDetailsDO">
        select `id`, `name`, `sd_desc`, `s_id`
        from app_setmeal_details
        where id = #{value}
    </select>

    <select id="list" resultType="SetmealDetailsDO">
        select `id`,`name`,`sd_desc`,`s_id` from app_setmeal_details
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="name != null and name != '' and name != '%%'">
                and name like #{name}
            </if>
            <if test="sdDesc != null and sdDesc != ''">and sd_desc =
                #{sdDesc}
            </if>
            <if test="sId != null and sId != ''">and s_id =
                #{sId}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_setmeal_details
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="name != null and name != '' and name != '%%'">
                and name like #{name}
            </if>
            <if test="sdDesc != null and sdDesc != ''">and sd_desc =
                #{sdDesc}
            </if>
            <if test="sId != null and sId != ''">and s_id =
                #{sId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="SetmealDetailsDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_setmeal_details (`name`, `sd_desc`, `s_id`)
        values (#{name}, #{sdDesc}, #{sId})
    </insert>

    <update id="update" parameterType="SetmealDetailsDO">
        update app_setmeal_details
        <set>
            <if test="name != null">`name` = #{name
                        },
            </if>
            <if test="sdDesc != null">`sd_desc` = #{sdDesc
                        },
            </if>
            <if test="sId != null">`s_id` = #{sId
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_setmeal_details
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_setmeal_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>