<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.SymptomDao">

    <select id="get" resultType="SymptomDO">
        select `id`, `pob_id`, `pob_name`, `sympton_desc`
        from app_symptom
        where id = #{value}
    </select>

    <select id="list" resultType="SymptomDO">
        select `id`,`pob_id`,`pob_name`,`sympton_desc` from app_symptom
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="pobId != null and pobId != ''">and pob_id =
                #{pobId}
            </if>
            <if test="pobName != null and pobName != '' and pobName != '%%'">
                and pob_name like #{pobName}
            </if>
            <if test="symptonDesc != null and symptonDesc != ''">and sympton_desc =
                #{symptonDesc}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_symptom
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="pobId != null and pobId != ''">and pob_id =
                #{pobId}
            </if>
            <if test="pobName != null and pobName != '' and pobName != '%%'">
                and pob_name like #{pobName}
            </if>
            <if test="symptonDesc != null and symptonDesc != ''">and sympton_desc =
                #{symptonDesc}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="SymptomDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_symptom (`pob_id`, `pob_name`, `sympton_desc`)
        values (#{pobId}, #{pobName}, #{symptonDesc})
    </insert>

    <update id="update" parameterType="SymptomDO">
        update app_symptom
        <set>
            <if test="pobId != null">`pob_id` = #{pobId
                        },
            </if>
            <if test="pobName != null">`pob_name` = #{pobName
                        },
            </if>
            <if test="symptonDesc != null">`sympton_desc` = #{symptonDesc
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_symptom
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_symptom where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>