<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.app.VolunteerServiceDao">

    <select id="get" resultType="VolunteerServiceDO">
        select `id`,
               `vs_class`,
               `vs_name`,
               `title`,
               `icon_file`,
               `price`,
               `unit`,
               `vs_desc`,
               `notice`,
               `advantage`,
               `refund`,
               home_pic,
               old_price,
               dept_id
        from app_volunteer_service
        where id = #{value}
    </select>

    <select id="list" resultType="VolunteerServiceDO">
        select dept_id,
        old_price,home_pic,`id`,`vs_class`,`vs_name`,`title`,`icon_file`,`price`,`unit`,`vs_desc`,`notice`,`advantage`,`refund`
        from
        app_volunteer_service
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="deptId != null and deptId != ''">and dept_id =
                #{deptId}
            </if>
            <if test="vsClass != null and vsClass != ''">and vs_class =
                #{vsClass}
            </if>
            <if test="vsName != null and vsName != '' and vsName != '%%'">
                and vs_name like #{vsName}
            </if>
            <if test="title != null and title != ''">and title =
                #{title}
            </if>
            <if test="iconFile != null and iconFile != ''">and icon_file =
                #{iconFile}
            </if>
            <if test="price != null and price != ''">and price =
                #{price}
            </if>
            <if test="unit != null and unit != ''">and unit =
                #{unit}
            </if>
            <if test="vsDesc != null and vsDesc != ''">and vs_desc =
                #{vsDesc}
            </if>
            <if test="notice != null and notice != ''">and notice =
                #{notice}
            </if>
            <if test="advantage != null and advantage != ''">and advantage =
                #{advantage}
            </if>
            <if test="refund != null and refund != ''">and refund =
                #{refund}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_volunteer_service
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="vsClass != null and vsClass != ''">and vs_class =
                #{vsClass}
            </if>
            <if test="vsName != null and vsName != '' and vsName != '%%'">
                and vs_name like #{vsName}
            </if>
            <if test="title != null and title != ''">and title =
                #{title}
            </if>
            <if test="iconFile != null and iconFile != ''">and icon_file =
                #{iconFile}
            </if>
            <if test="price != null and price != ''">and price =
                #{price}
            </if>
            <if test="unit != null and unit != ''">and unit =
                #{unit}
            </if>
            <if test="vsDesc != null and vsDesc != ''">and vs_desc =
                #{vsDesc}
            </if>
            <if test="notice != null and notice != ''">and notice =
                #{notice}
            </if>
            <if test="advantage != null and advantage != ''">and advantage =
                #{advantage}
            </if>
            <if test="refund != null and refund != ''">and refund =
                #{refund}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="VolunteerServiceDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_volunteer_service (`vs_class`,
                                           `vs_name`,
                                           `title`,
                                           `icon_file`,
                                           `price`,
                                           `unit`,
                                           `vs_desc`,
                                           `notice`,
                                           `advantage`,
                                           `refund`,
                                           home_pic, old_price,dept_id)
        values (#{vsClass},
                #{vsName},
                #{title},
                #{iconFile},
                #{price},
                #{unit},
                #{vsDesc},
                #{notice},
                #{advantage},
                #{refund},
                #{homePic}, #{oldPrice},#{deptId})
    </insert>

    <update id="update" parameterType="VolunteerServiceDO">
        update app_volunteer_service
        <set>
            <if test="vsClass != null">`vs_class` = #{vsClass
                        },
            </if>
            <if test="vsName != null">`vs_name` = #{vsName
                        },
            </if>
               <if test="deptId != null">`dept_id` = #{deptId
                        },
            </if>
            <if test="oldPrice != null">`old_price` = #{oldPrice
                        },
            </if>
            <if test="title != null">`title` = #{title
                        },
            </if>
            <if test="iconFile != null">`icon_file` = #{iconFile
                        },
            </if>
            <if test="price != null">`price` = #{price
                        },
            </if>
            <if test="unit != null">`unit` = #{unit
                        },
            </if>
            <if test="vsDesc != null">`vs_desc` = #{vsDesc
                        },
            </if>
            <if test="notice != null">`notice` = #{notice
                        },
            </if>
            <if test="advantage != null">`advantage` = #{advantage
                        },
            </if>
            <if test="homePic != null">`home_pic` = #{homePic
                        },
            </if>
            <if test="refund != null">`refund` = #{refund
                        }
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_volunteer_service
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_volunteer_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>

