<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.dao.user.UserTagDao">

    <select id="get" resultType="UserTagDO">
        select `id`,`user_id`,`tag_id` from sys_user_tag where id = #{value}
    </select>

    <select id="list" resultType="UserTagDO">
        select `id`,`user_id`,`tag_id` from sys_user_tag
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="tagId != null and tagId != ''">and tag_id = #{tagId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_user_tag
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="tagId != null and tagId != ''">and tag_id = #{tagId}</if>
        </where>
    </select>

    <insert id="save" parameterType="UserTagDO" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user_tag
        (
        `user_id`,
        `tag_id`
        )
        values
        (
        #{userId},
        #{tagId}
        )
    </insert>

    <update id="update" parameterType="UserTagDO">
        update sys_user_tag
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="tagId != null">`tag_id` = #{tagId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_user_tag where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_user_tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>