<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>lalalala</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="background: url('/static/pic/1.jpg')">
<!-- 在想要使用窗口小部件的地方插入该标签 -->
<iframe width="640" height="640" src="https://cybermap.kaspersky.com/cn/widget/dynamic/dark" frameborder="0"></iframe>
<!--<img src="http://60.205.216.68:4399/1.jpg" alt="">-->
<!--<img src="/static/pic/1.jpg" alt="">-->
</body>
<script src="/static/js/jquery.js"></script>
</html>